/**********
/* SITE BASE COLORS */
$text: #12222D;
$dark: #33333D;
$light-text: #6D6D6D;
$disabled: #D6D6D6;
$background: #F2F3F7;
$white: #ffffff;
$blue: #0040A1;
$dark-blue: #002450;
$blue-hover: #0554CC;
$rate: #F2CA30;
$error: #FF0000;
$success: #4ECE00;
$visited: #681DA8;
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 360px;
