.ls-about-product {
    &__text {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        span {
            color: $blue;
            font-weight: 700;
        }
        margin-bottom: 32px;
    }
    &__btn {
        margin-bottom: 40px;
    }
    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, 369px);
        column-gap: 16px;
        @media screen {
            @media (max-width: grid-width($desktop)) {
                grid-template-columns: repeat(auto-fill, 317px);
            }
            @media (max-width: grid-width($laptop)) {
                grid-template-columns: repeat(auto-fill, 233px);
                column-gap: 14px;
            }
            @media (max-width: grid-width( $tablet)) {
                grid-template-columns: repeat(auto-fill, 100%);
                row-gap: 16px;
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 369px;
        height: 217px;
        @media screen {
            @media (max-width: grid-width($desktop)) {
                width: 317px;
                height: 186px;
            }
            @media (max-width: grid-width($laptop)) {
                width: 233px;
                height: 137px;
            }
            @media (max-width: grid-width( $tablet)) {
                width: 100%;
                height: auto;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__item-bg {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        width: 100%;
        height: 100%;
        color: $white;
        padding: 0 24px;
        text-align: center;
        &:hover {
            opacity: 1;
        }
    }
}
