.ls-profit {
    &__text {
        padding: 0 69px;
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 43px;
        text-align: center;
        span {
            color: $blue;
        }
        @media screen {
            @media (max-width: grid-width($desktop)) {
                padding: 0 20px;
            }
            @media (max-width: grid-width($laptop)) {
                padding: 0 5px;
            }
            @media (max-width: grid-width( $tablet)) {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
    &__btn {
        margin: 0 auto;
    }
}
